.t1{
    border: 1px solid;
    color: white;
    background-color: rgba(44, 47, 254, 0.782);
    border-radius: 5px;
    width: 35%;

}
.t1:hover{
    color: white;
    background: rgb(0, 4, 255);
}
.category{
    color: white;
}
.category:hover{
    color: white;
}
.author{
    transition: transform .2s;
}
.author:hover{
    text-decoration: underline; 
    transform: scale(1.5);   
}