.t1{
    border: 1px solid;
    color: white;
    background-color: #598cca;
    border-radius: 5px;
    width: 35%;

}
.t1:hover{
    color: white;
    background: #163172;
}
.category{
    color: white;
}
.category:hover{
    color: white;
}
.author{
    transition: transform .2s;
}
.author:hover{
    text-decoration: underline; 
    transform: scale(1.5);   
}